.main {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  padding: 5px;
  height: 100vh;
}
.header {
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 5px;
  background-color: #747d91;
  background-image: linear-gradient(#46484d 70%, gray );
}
.sidebar-content {
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 9;
  min-height: 0;
}
.left-sidebar {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
  background-color: gray;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}
.right-sidebar {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
  background-color: gray;
}
.items {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  min-width: 0;
}
.content {
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 8;
  justify-content: space-around;
  padding: 20px;
  overflow-y: auto;
  background-color: lightgray;
  box-shadow: inset 0px 0px 5px 10px gray;
}
.item {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  min-height: 0;
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 10px;
  margin-top: 30px;
}
.add-or-edit {
  min-width: 400px;
}
.field {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 2px;
  background-color: #cbcdd1;
}
.title {
  flex-grow: 1;
  flex-basis: 0;
  }
.description{
  flex-grow: 6;
  flex-basis: 0;
  min-height: 200px;
  white-space: normal;
  overflow-y: auto;
  
  }
.category {
  flex-grow: 1;
  flex-basis: 0;
  }
.status {
  flex-grow: 1;
  flex-basis: 0;
  }
.submit {
  flex-grow:1;
  flex-basis: 0; 
}
.error {
  color: red;
}
.notice {
  position: absolute;
  top: 10px;
  font-size: 25px;
  color: green;
}
.button-forms {
  display: flex;
  flex-direction: row !important;
  flex-basis: 0;
}
.button-form {
    flex-grow: 2;
    flex-basis: 0; 
}
.logout-button:hover {
  color: white;
}






